<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col-10 offset-1">
            <div class="card border-0">
                <div class="card-header d-flex bg-info">
                    <div><i class="fa fa-chevron-left text-white fa-lg" aria-hidden="true"></i></div>
                    <div class="ml-auto"><i class="fa fa-ellipsis-v text-white fa-lg mr-5" aria-hidden="true"></i> <i
                            class="fa fa-list fa-lg text-white" aria-hidden="true"></i></div>
                </div>
                <div class="card-body bg-light text-center">
                    <i class="fa fa-4x fa-repeat mt-5 pt-4" aria-hidden="true"></i>
                    <h3 class="font-weight-bold my-4">Replay Video</h3>
                    <h3 class="my-5">OR</h3>
                    <div class="mb-3">
                            <button class="btn btn-info px-5" (click)="startMcq()">START MCQ</button>
                    </div>
                </div>
                <div class="bg-transparent border-0 card-footer">
                    <h3 class="font-weight-bold">Watching : Sub Topic 1.1</h3>
                </div>
            </div>
        </div>
    </div>
</div> -->

<mat-drawer-container class="example-container bg-white pt-5 w-100 h-100">
    <mat-drawer mode="side" opened class="border-1 sidebar shadow-sm bg-light">
        <mat-accordion>
            <mat-expansion-panel hideToggle class="mat-elevation-z0 mt-1 bg-light">
                <mat-expansion-panel-header class="new bg-white">
                    <mat-panel-title>
                        <h6 class="px-2 pt-3">Chapter 1</h6>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <ul class="timeline">

                        <li class="topic">
                            <a class="sub-topic text-dark" target="_blank" href="#"> Introduction</a>
                        </li>
                        <li class="topic_name">
                            <a class="sub-topic text-dark" href="#"> Working with the python interactive shell

                            </a>
                        </li>
                        <li class="topic_name">
                            <a class="sub-topic text-dark" href="#"> Writing and running simple scripts

                            </a>
                        </li>
                        <li class="topic_name">
                            <a class="sub-topic text-dark" href="#"> Python keywords, identifiers and variables

                            </a>
                        </li>
                        <li class="topic_name">
                            <a class="sub-topic text-dark" href="#">User input, comments and indentations

                            </a>
                        </li>
                        <li class="topic_name">
                            <a class="sub-topic text-dark" href="#"> Test On User input, comments and indentations

                            </a>
                        </li>
                        <li class="topic_name">
                            <a class="sub-topic text-dark" href="#"> Summary

                            </a>
                        </li>

                    </ul>
                </div>
            </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel hideToggle class="mat-elevation-z0 mt-4 bg-light">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h6 class="px-3 pt-3">Chapter 2</h6>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel hideToggle class="mat-elevation-z0 mt-4 bg-light">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h6 class="px-3 pt-3">Chapter 3</h6>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel hideToggle class="mat-elevation-z0 mt-4 bg-light">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h6 class="px-3 pt-3">Chapter 4</h6>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel hideToggle class="mat-elevation-z0 mt-4 bg-light">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h6 class="px-3 pt-3">Chapter 5</h6>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel hideToggle class="mat-elevation-z0 mt-4 bg-light">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h6 class="px-3 pt-3">Chapter 6</h6>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel hideToggle class="mat-elevation-z0 mt-4 bg-light">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h6 class="px-3 pt-3">Chapter 7</h6>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>

        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
        <button class="float mat-badge mat-badge-content border-0"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
    </mat-drawer-content>
</mat-drawer-container>