<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-3">
            <div>Students / Sana Shrivastava</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm border-0">
                <div class="card-header border-bottom-0 p-0 bg-transparent">
                    <div>
                        <tabset class="customTabset">
                            <tab heading="Dashboard" id="dashboard">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>Introduction to Cloud Computing</strong>
                                                    <i class="fa fa-chevron-down ml-4 small" aria-hidden="true"></i>
                                                </h5>
                                                <h5>MCQ Scores</h5>
                                                <div class="text-center">
                                                    <<<<< GRAPH SHOULD BE HERE>>>>>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>Introduction to Cloud Computing</strong>
                                                    <i class="fa fa-chevron-down ml-4 small" aria-hidden="true"></i>
                                                </h5>
                                                <h5>Assigment Scores</h5>
                                                <div class="text-center">
                                                    <<<<< GRAPH SHOULD BE HERE>>>>>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6 border-right">
                                                        <h5 class="card-title"><strong>ZPF</strong> <i
                                                                class="fa fa-info-circle" aria-hidden="true"></i></h5>
                                                        <div>
                                                            <p>ZPF is calculated on multiple factors and it understand
                                                                users knowledge, mood, performance level and problem
                                                                solving level for assignment.</p>
                                                            <<<<< GRAPH SHOULD BE HERE>>>>>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <h5 class="card-title"><strong>Parameters for ZPF</strong> </h5>
                                                        <div>
                                                            <p>Accurancy, Time taken and Correctness value after
                                                                Assignment value after Assignment 3 for <strong>
                                                                    <<<<< topic name>>>>>
                                                                </strong></p>
                                                            <<<<< Accurancy>>>>> <<<<< Correctness>>>>> <<<<< Time
                                                                        Taken>>>>>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="card shadow-sm">
                                            <div class="card-body font-weight-normal">
                                                <h5 class="card-title"><strong>Mini Project</strong><span
                                                        class="badge font-weight-normal badge-pill float-right p-2"
                                                        style="background-color: #dee2e6;">Not Started</span></h5>
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
                                                    numquam, laboriosam qui dolore sequi soluta quisquam eius
                                                    perspiciatis quaerat ullam quasi iure similique dolores nihil nisi
                                                    ipsam et illo inventore?</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="card shadow-sm">
                                            <div class="card-body font-weight-normal">
                                                <h5 class="card-title"><strong>Mini Project</strong><span
                                                        class="badge font-weight-normal badge-pill float-right p-2"
                                                        style="background-color: #dee2e6;">Not Started</span></h5>
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
                                                    numquam, laboriosam qui dolore sequi soluta quisquam eius
                                                    perspiciatis quaerat ullam quasi iure similique dolores ... <span
                                                        class="float-right text-primary font-weight-bold mt-2">READ FULL
                                                        QUESTION</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </tab>
                            <tab heading="Details" id="details">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>Course Progress</strong></h5>
                                                <p class="mb-0">
                                                    <progressbar [value]="25"></progressbar>
                                                </p>
                                                <p class="mb-0 text-muted">25% Complete</p>
                                            </div>
                                        </div>

                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>Upcoming Booking</strong></h5>
                                                <p class="mb-0 text-muted"><span
                                                        class="material-icons-outlined position-relative mr-2"
                                                        style="top: 2px; font-size: 16px;">
                                                        calendar_today
                                                    </span> <strong>2nd Jan</strong> 2020, 11.30 am - 12.30 pm</p>
                                                    <!-- <div class="d-flex">
                                                        <div style="width: 100px;">
                                                            <img class="img-fluid" src="assets/images/noSessions.png">
                                                        </div>
                                                        <div class="align-self-center pl-3">
                                                            <p class="mb-0"><strong>No 1:1 bookings found.</strong></p>
                                                            <p class="mb-0">Why don't you message Sana and ask her if she is having nay trouble / issue in any topic.</p>
                                                        </div>
                                                    </div> -->
                                            </div>
                                        </div>

                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>Booked Virtual Sessions</strong></h5>
                                                <div class="d-flex mb-3">
                                                    <div style="width: 115px;">
                                                        <img class="img-fluid" src="assets/images/noSessions.png">
                                                    </div>
                                                    <div class="align-self-center pl-3">
                                                        <p class="mb-0"><strong>Sana has not booked any virtual suggestions.</strong></p>
                                                        <p class="mb-0">Why don't you suggest her the session that she should take in order to clear her topic and to grasp more knowledge.</p>
                                                        <button class="btn pl-0 text-primary text-uppercase">Suggest Virtual Session</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="border-0 card-header py-2">
                                                                <strong class="py-1">Topic Name | Sub topic
                                                                    name</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class=" text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 16px;">calendar_today</span>
                                                                    11.30 am - 12.30 pm, <strong>2nd Jan</strong> 2020
                                                                </p>
                                                                <p class="mb-0 text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 20px;">perm_identity</span>
                                                                    Session By: <strong class="ml-2 text-primary">Aditya
                                                                        Agrawal</strong>
                                                                    <span
                                                                        class="material-icons-outlined position-relative float-right"
                                                                        style="top: 6px; font-size: 20px;">launch</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="border-0 card-header py-2">
                                                                <strong class="py-1">Topic Name | Sub topic
                                                                    name</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class=" text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 16px;">calendar_today</span>
                                                                    11.30 am - 12.30 pm, <strong>2nd Jan</strong> 2020
                                                                </p>
                                                                <p class="mb-0 text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 20px;">perm_identity</span>
                                                                    Session By: <strong class="ml-2 text-primary">Aditya
                                                                        Agrawal</strong>
                                                                    <span
                                                                        class="material-icons-outlined position-relative float-right"
                                                                        style="top: 6px; font-size: 20px;">launch</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="border-0 card-header py-2">
                                                                <strong class="py-1">Topic Name | Sub topic
                                                                    name</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class=" text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 16px;">calendar_today</span>
                                                                    11.30 am - 12.30 pm, <strong>2nd Jan</strong> 2020
                                                                </p>
                                                                <p class="mb-0 text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 20px;">perm_identity</span>
                                                                    Session By: <strong class="ml-2 text-primary">Aditya
                                                                        Agrawal</strong>
                                                                    <span
                                                                        class="material-icons-outlined position-relative float-right"
                                                                        style="top: 6px; font-size: 20px;">launch</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="border-0 card-header py-2">
                                                                <strong class="py-1">Topic Name | Sub topic
                                                                    name</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class=" text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 16px;">calendar_today</span>
                                                                    11.30 am - 12.30 pm, <strong>2nd Jan</strong> 2020
                                                                </p>
                                                                <p class="mb-0 text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 20px;">perm_identity</span>
                                                                    Session By: <strong class="ml-2 text-primary">Aditya
                                                                        Agrawal</strong>
                                                                    <span
                                                                        class="material-icons-outlined position-relative float-right"
                                                                        style="top: 6px; font-size: 20px;">launch</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="border-0 card-header py-2">
                                                                <strong class="py-1">Topic Name | Sub topic
                                                                    name</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class=" text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 16px;">calendar_today</span>
                                                                    11.30 am - 12.30 pm, <strong>2nd Jan</strong> 2020
                                                                </p>
                                                                <p class="mb-0 text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 20px;">perm_identity</span>
                                                                    Session By: <strong class="ml-2 text-primary">Aditya
                                                                        Agrawal</strong>
                                                                    <span
                                                                        class="material-icons-outlined position-relative float-right"
                                                                        style="top: 6px; font-size: 20px;">launch</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="border-0 card-header py-2">
                                                                <strong class="py-1">Topic Name | Sub topic
                                                                    name</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class=" text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 16px;">calendar_today</span>
                                                                    11.30 am - 12.30 pm, <strong>2nd Jan</strong> 2020
                                                                </p>
                                                                <p class="mb-0 text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 20px;">perm_identity</span>
                                                                    Session By: <strong class="ml-2 text-primary">Aditya
                                                                        Agrawal</strong>
                                                                    <span
                                                                        class="material-icons-outlined position-relative float-right"
                                                                        style="top: 6px; font-size: 20px;">launch</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="border-0 card-header py-2">
                                                                <strong class="py-1">Topic Name | Sub topic
                                                                    name</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class=" text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 16px;">calendar_today</span>
                                                                    11.30 am - 12.30 pm, <strong>2nd Jan</strong> 2020
                                                                </p>
                                                                <p class="mb-0 text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 20px;">perm_identity</span>
                                                                    Session By: <strong class="ml-2 text-primary">Aditya
                                                                        Agrawal</strong>
                                                                    <span
                                                                        class="material-icons-outlined position-relative float-right"
                                                                        style="top: 6px; font-size: 20px;">launch</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="border-0 card-header py-2">
                                                                <strong class="py-1">Topic Name | Sub topic
                                                                    name</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class=" text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 16px;">calendar_today</span>
                                                                    11.30 am - 12.30 pm, <strong>2nd Jan</strong> 2020
                                                                </p>
                                                                <p class="mb-0 text-muted">
                                                                    <span
                                                                        class="material-icons-outlined position-relative mr-2"
                                                                        style="top: 2px; font-size: 20px;">perm_identity</span>
                                                                    Session By: <strong class="ml-2 text-primary">Aditya
                                                                        Agrawal</strong>
                                                                    <span
                                                                        class="material-icons-outlined position-relative float-right"
                                                                        style="top: 6px; font-size: 20px;">launch</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <div class="card">
                                            <div class="card-body px-0">
                                                <div class="px-3 text-center">
                                                    <img class="img-fluid mb-3 rounded-circle" style="width: 120px;"
                                                        src="https://cdn.zeplin.io/5f59af391d3811bc16f1d6d8/assets/F1712868-FCF1-4309-9068-AF09252F36F8.png">
                                                    <h5 class="card-title mb-0"><strong>Sana Shrivastava</strong></h5>
                                                    <p class="text-muted">Developer</p>
                                                </div>
                                                <div class="border-bottom border-top d-flex py-2">
                                                    <div class="col-6 border-right">
                                                        <p class="mb-0 small">
                                                            <span class="material-icons-outlined position-relative mr-2"
                                                                style="top: 2px; font-size: 16px;">calendar_today</span>
                                                            Start Date
                                                        </p>
                                                        <p class="mb-0"><strong>Jul 22nd, 2020</strong></p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="mb-0 small">
                                                            <span class="material-icons-outlined position-relative mr-2"
                                                                style="top: 2px; font-size: 16px;">calendar_today</span>
                                                            Expiry Date
                                                        </p>
                                                        <p class="mb-0"><strong>Oct 22nd, 2020</strong></p>
                                                    </div>
                                                </div>
                                                <div class="p-3">
                                                    <ul class="list-group">
                                                        <li class="mb-1">
                                                            <p class="mb-0">
                                                                <span
                                                                    class="material-icons-outlined position-relative mr-2"
                                                                    style="top: 6px;">timelapse</span>
                                                                Mentor hours consumed: <strong>5</strong>/15 hrs
                                                            </p>
                                                        </li>
                                                        <li class="mb-1">
                                                            <p class="mb-0">
                                                                <span
                                                                    class="material-icons-outlined position-relative mr-2"
                                                                    style="top: 5px;">groups</span>
                                                                Group <strong>Cloud Computing_3</strong>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="px-3 mt-3">
                                                    <button
                                                        class="btn btn-block btn-lg btn-primary text-uppercase">Message
                                                        Sana</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>