::ng-deep .cdk-overlay-container {
    z-index: 1051;
   }
   ::ng-deep.mat-form-field-flex{
    background-color: transparent !important;
    padding-left: 0px !important;
}

::ng-deep.mat-form-field-underline{

    width: 90% !important;
}