<div class="container-fluid myCourses mt-3">
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-bold mt-3 mb-0">My Coursers / Cloud Computing</h2>
        </div>
        <div class="col-8 my-4">
            <div class="bg-info border-0 card rounded-top ml-1">
                <!-- <div class="bg-info border-0 pb-0 card-header rounded-top">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link text-white py-0 pb-2" href="#">Trending</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white py-0 pb-2" href="#">New Course</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white py-0 pb-2" href="#">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white py-0 pb-2 active" href="#">Upcoming</a>
                            </li>
                        </ul>
                    </div> -->
                <div class="bg-light card-body rounded-bottom p-0">
                    <div class="row">
                        <div class="col-12">
                            <tabset>
                                <tab heading="Index" id="tab1">
                                    <div class="bg-light border-0 card rounded-0">
                                        <div class="card-body">
                                            <mat-accordion>
                                                <mat-expansion-panel [expanded]="true" class="mb-4">
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            <div class="d-flex">
                                                                <div
                                                                    class="border border-dark mb-0 rounded-circle text-center indexNumber">
                                                                    <h5 class="my-2">1</h5>
                                                                </div>
                                                                <div class="ml-3">
                                                                    <h5 class="font-weight-bold mb-1">Topic 1</h5>
                                                                    <small>1/7 Completed</small>
                                                                </div>
                                                            </div>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <ul class="list-group">
                                                        <li class="border-left d-flex ml-3 p-0">
                                                            <i class="fa fa-lg fa-check-circle text-info position-relative itemCompleted"
                                                                aria-hidden="true"></i>
                                                            <a>Cloud Computing - The Basic</a>
                                                            <p class="ml-auto">5 min</p>
                                                        </li>
                                                        <li class="border-left d-flex ml-3 p-0">
                                                            <i class="fa fa-lg fa-play-circle text-primary position-relative itemInprogress"
                                                                aria-hidden="true"></i>
                                                            <a><u>Cloud Computing - The Basic</u></a>
                                                            <p class="ml-auto">5 min</p>
                                                        </li>
                                                        <li class="border-left d-flex ml-3 p-0">
                                                            <i class="fa fa-lg fa-lock text-muted position-relative itemIncomplete"
                                                                aria-hidden="true"></i>
                                                            <a>Cloud Computing - The Basic</a>
                                                            <p class="ml-auto">5 min</p>
                                                        </li>
                                                        <li class="border-left d-flex ml-3 p-0">
                                                            <i class="fa fa-lg fa-lock text-muted position-relative itemIncomplete"
                                                                aria-hidden="true"></i>
                                                            <a>Cloud Computing - The Basic</a>
                                                            <p class="ml-auto">5 min</p>
                                                        </li>
                                                        <li class="border-left d-flex ml-3 p-0">
                                                            <i class="fa fa-lg fa-lock text-muted position-relative itemIncomplete"
                                                                aria-hidden="true"></i>
                                                            <a>Cloud Computing - The Basic</a>
                                                            <p class="ml-auto">5 min</p>
                                                        </li>
                                                        <li class="border-left d-flex ml-3 p-0">
                                                            <i class="fa fa-lg fa-lock text-muted position-relative itemIncomplete"
                                                                aria-hidden="true"></i>
                                                            <a>Cloud Computing - The Basic</a>
                                                            <p class="ml-auto">5 min</p>
                                                        </li>
                                                        <li class="d-flex ml-3 p-0">
                                                            <i class="fa fa-lg fa-lock text-muted position-relative itemIncomplete"
                                                                aria-hidden="true"></i>
                                                            <a>Cloud Computing - The Basic</a>
                                                            <p class="ml-auto">5 min</p>
                                                        </li>
                                                    </ul>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel class="mb-4">
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            <div class="d-flex">
                                                                <div
                                                                    class="border mb-0 rounded-circle text-center indexNumber">
                                                                    <h5 class="my-2">
                                                                        <i class="fa fa-lg fa-lock text-muted"
                                                                            aria-hidden="true"></i>
                                                                    </h5>
                                                                </div>
                                                                <div class="ml-3">
                                                                    <h5 class="font-weight-bold mb-1">Topic 2</h5>
                                                                    <small>0/7 Completed</small>
                                                                </div>
                                                            </div>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    Demo
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Details">Basic content 1</tab>
                                <tab heading="FAQ">Basic content 2</tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 my-4 recentActivityPart">
            <div class="bg-info border-0 card rounded-top ml-1 mr-4">
                <div class="bg-light card-body rounded-bottom p-0">
                    <div class="row">
                        <div class="col-12">
                            <tabset>
                                <tab heading="Recent Activity" id="tab1">
                                    <div class="bg-light border-0 card rounded-0">
                                        <div class="card-body">
                                            <div class="bg-white shadow-sm text-center mb-4 videoDiv">
                                                <i class="fa fa-3x fa-play-circle text-black-50 position-relative"
                                                    aria-hidden="true"></i>
                                            </div>
                                            <p class="mb-0"><strong>TOPIC 1:</strong></p>
                                            <p>Cloud Computing - The Basic</p>
                                            <p class="mb-0"><strong>STATUS:</strong></p>
                                            <p>Incomplete</p>
                                            <a class="btn btn-block btn-info mt-4" href="http://localhost:4200/user/course/abc/abc">RESUME VIDEO</a>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Insights">
                                    <div class="container-fluid insights">
                                        <div class="row">
                                            <div class="col-12">
                                                <progressbar class="my-3 progress" [value]="78" [max]="100">
                                                </progressbar>
                                                <p>78% Complete <a class="float-right"><u>View Details</u></a></p>
                                            </div>
                                            <div class="col-12">
                                                <p class="mb-0 paraHead">Expiry Date:</p>
                                                <p>22/11/2020</p>

                                                <p class="mb-0 paraHead">Mentor Hrs consumed:</p>
                                                <p>12/15</p>

                                                <p class="mb-0 paraHead">Virtual Classroom Hrs
                                                    consumed:</p>
                                                <p>12/15</p>

                                                <hr>

                                                <p class="paraHead">Recent Bookings:</p>
                                                <div class="border-0 card shadow mb-2">
                                                    <div class="card-body p-3">
                                                        <div class="d-flex">
                                                            <p class="mb-2">Date: 24/11/2020</p>
                                                            <p class="mb-2 ml-auto">Time: 11am - 1pm</p>
                                                        </div>
                                                        <a><u>View Details</u></a>
                                                    </div>
                                                </div>

                                                <div class="border-0 card shadow mb-2">
                                                    <div class="card-body p-3">
                                                        <div class="d-flex">
                                                            <p class="mb-2">Date: 24/11/2020</p>
                                                            <p class="mb-2 ml-auto">Time: 11am - 1pm</p>
                                                        </div>
                                                        <a><u>View Details</u></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>