<div class="container-fluid px-4">
    <div class="row">
        <div class="col-12 d-flex my-3">
            <div>Groups</div>
            <div class="ml-auto"><img class="searchPng mr-4" src="assets/icons/search.svg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="mt-2">
                <mat-form-field [floatLabel]="'never'" class="customMatSelector">
                    <mat-label>Group</mat-label>
                    <mat-select value="All" disableOptionCentering multiple panelClass="matSelectpanel">
                        <mat-option value="All">All messages</mat-option>
                        <mat-option value="postedbyme">Posted by me</mat-option>
                        <mat-option value="repliedbyme">Replied by me</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3 gridDetail">
            <div class="p-2">
                <div class="row bg-white shadow-sm rounded py-1" style="font-weight: bold;">
                    <div class="col-lg-4 text-left">
                        <p class="group_name">Group Name</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="start_date">Start Date</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="end_date">End</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="memebers">Members</p>
                    </div>
                </div>
                <div class="row bg-white shadow-sm mt-1 py-3">
                    <div class="col-lg-4 text-left align-self-center">
                        <h6 class="group_name">Machine Learning Bootcamp lorem_1</h6>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="start_date text-muted">Dec 2nd, 2020</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="end_date text-muted">March 2nd, 2021</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="members">2</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <img src="../../../assets/images/message.PNG">
                    </div>
                </div>
    
                <div class="row bg-white shadow-sm mt-2 py-3">
                    <div class="col-lg-4 text-left align-self-center">
                        <h6 class="group_name">Machine Learning Bootcamp lorem_1</h6>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="start_date text-muted">Dec 2nd, 2020</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="end_date text-muted">March 2nd, 2021</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="members">2</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <img src="../../../assets/images/message.PNG">
                    </div>
                </div>
    
                <div class="row bg-white shadow-sm mt-2 py-3">
                    <div class="col-lg-4 text-left align-self-center">
                        <h6 class="group_name">Machine Learning Bootcamp lorem_1</h6>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="start_date text-muted">Dec 2nd, 2020</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="end_date text-muted">March 2nd, 2021</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="members">2</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <img src="../../../assets/images/message.PNG">
                    </div>
                </div>
    
                <div class="row bg-white shadow-sm mt-2 py-3">
                    <div class="col-lg-4 text-left align-self-center">
                        <h6 class="group_name">Machine Learning Bootcamp lorem_1</h6>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="start_date text-muted">Dec 2nd, 2020</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="end_date text-muted">March 2nd, 2021</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="members">2</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <img src="../../../assets/images/message.PNG">
                    </div>
                </div>
    
                <div class="row bg-white shadow-sm mt-2 py-3">
                    <div class="col-lg-4 text-left align-self-center">
                        <h6 class="group_name">Machine Learning Bootcamp lorem_1</h6>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="start_date text-muted">Dec 2nd, 2020</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="end_date text-muted">March 2nd, 2021</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <p class="members">2</p>
                    </div>
                    <div class="col-lg-2 text-left">
                        <img src="../../../assets/images/message.PNG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>