<div class="container-fluid px-4">
    <div class="row">
        <div class="col-12 d-flex my-3">
            <div>Forum</div>
            <div class="ml-auto">Cloud Computing <i class="fa fa-chevron-down mx-4" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm border-0">
                <div class="card-header border-bottom-0 p-0 bg-transparent">
                    <div>
                        <tabset class="customTabset">
                            <tab heading="Topic Name" id="forum">
                                <form class="px-4">
                                    <mat-form-field [floatLabel]="'never'" class="customMatSelector w-100">
                                        <!-- <mat-label>All Messages</mat-label> -->
                                        <mat-select value="All" disableOptionCentering panelClass="matSelectpanel">
                                            <mat-option value="All">All messages</mat-option>
                                            <mat-option value="postedbyme">Posted by me</mat-option>
                                            <mat-option value="repliedbyme">Replied by me</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field [floatLabel]="'never'" class="w-100">
                                        <input type="search" matInput placeholder="search">
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                </form>
                                <div class="topicList overflow-auto">
                                    <mat-accordion>
                                        <mat-expansion-panel class="customMatExpansionPanel shadow-sm border" expanded>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Topic 1
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul class="list-group">
                                                <li>Sub Topic 1.1</li>
                                                <li>Sub Topic 1.2</li>
                                                <li>Sub Topic 1.3</li>
                                                <li class="active">Sub Topic 1.4</li>
                                                <li>Sub Topic 1.5</li>
                                                <li>Assignment</li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel class="customMatExpansionPanel shadow-sm border">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Topic 1
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul class="list-group">
                                                <li>Sub Topic 1.1</li>
                                                <li>Sub Topic 1.2</li>
                                                <li>Sub Topic 1.3</li>
                                                <li class="active">Sub Topic 1.4</li>
                                                <li>Sub Topic 1.5</li>
                                                <li>Assignment</li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel class="customMatExpansionPanel shadow-sm border">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Topic 1
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul class="list-group">
                                                <li>Sub Topic 1.1</li>
                                                <li>Sub Topic 1.2</li>
                                                <li>Sub Topic 1.3</li>
                                                <li class="active">Sub Topic 1.4</li>
                                                <li>Sub Topic 1.5</li>
                                                <li>Assignment</li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel class="customMatExpansionPanel shadow-sm border">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Topic 1
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul class="list-group">
                                                <li>Sub Topic 1.1</li>
                                                <li>Sub Topic 1.2</li>
                                                <li>Sub Topic 1.3</li>
                                                <li class="active">Sub Topic 1.4</li>
                                                <li>Sub Topic 1.5</li>
                                                <li>Assignment</li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel class="customMatExpansionPanel shadow-sm border">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Topic 1
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul class="list-group">
                                                <li>Sub Topic 1.1</li>
                                                <li>Sub Topic 1.2</li>
                                                <li>Sub Topic 1.3</li>
                                                <li class="active">Sub Topic 1.4</li>
                                                <li>Sub Topic 1.5</li>
                                                <li>Assignment</li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel class="customMatExpansionPanel shadow-sm border">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Topic 1
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul class="list-group">
                                                <li>Sub Topic 1.1</li>
                                                <li>Sub Topic 1.2</li>
                                                <li>Sub Topic 1.3</li>
                                                <li class="active">Sub Topic 1.4</li>
                                                <li>Sub Topic 1.5</li>
                                                <li>Assignment</li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel class="customMatExpansionPanel shadow-sm border">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Topic 1
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul class="list-group">
                                                <li>Sub Topic 1.1</li>
                                                <li>Sub Topic 1.2</li>
                                                <li>Sub Topic 1.3</li>
                                                <li class="active">Sub Topic 1.4</li>
                                                <li>Sub Topic 1.5</li>
                                                <li>Assignment</li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel class="customMatExpansionPanel shadow-sm border">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Topic 1
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul class="list-group">
                                                <li>Sub Topic 1.1</li>
                                                <li>Sub Topic 1.2</li>
                                                <li>Sub Topic 1.3</li>
                                                <li class="active">Sub Topic 1.4</li>
                                                <li>Sub Topic 1.5</li>
                                                <li>Assignment</li>
                                            </ul>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 chatDetailWindow">
            <div class="row" [ngClass]="{ 'no-gutters' : showmemberDetails}">
                <div [ngClass]="{ 'col-12' : !showmemberDetails, 'col-8': showmemberDetails }">
                    <div class="card border-0 shadow-sm" [ngClass]="{ 'rounded-right' : showmemberDetails}">
                        <div class="card-header bg-transparent">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex">
                                        <div class="">
                                            <!-- <img class="rounded-circle" src="https://cdn.zeplin.io/5f59af391d3811bc16f1d6d8/assets/F1712868-FCF1-4309-9068-AF09252F36F8.png"> -->
                                            <i class="fa fa-users rounded-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="align-self-center ml-3 chatTitle">
                                            <p class="mb-0">Sub topic 1.4 Name</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 text-right align-self-center">
                                    <img class="searchPng mr-4" src="assets/icons/sort.svg">
                                    <img (click)="showmemberDetails = !showmemberDetails" class="searchPng pointer"
                                        src="assets/icons/search.svg">
                                </div>
                            </div>
                        </div>
                        <div class="card-body commentsBody overflow-auto">
                            <div class="card mb-3">
                                <div class="card-body p-0 commentsSets">
                                    <div class="px-4 py-3 border-bottom">
                                        <div class="row">
                                            <div class="col-1 p-0">
                                                <img class="img-fluid rounded-circle"
                                                    src="https://cdn.zeplin.io/5f59af391d3811bc16f1d6d8/assets/F1712868-FCF1-4309-9068-AF09252F36F8.png">
                                            </div>
                                            <div class="col-11 align-self-center"
                                                [ngClass]="{ 'pl-0' : !showmemberDetails}">
                                                <h6 class="mb-0">Aditya Agrawal</h6>
                                                <small class="">October 8, 2020</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="commentQuestion mb-0 mt-3">What is the exact use of this
                                                    variable ??</p>
                                                <p class="mb-0"><i class="fa fa-comment-o mr-2 font-weight-bold"
                                                        aria-hidden="true"></i> <small>10 comments</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 py-3">
                                        <div class="row">
                                            <div class="col-1 p-0">
                                                <img class="img-fluid rounded-circle"
                                                    src="https://cdn.zeplin.io/5f59af391d3811bc16f1d6d8/assets/F1712868-FCF1-4309-9068-AF09252F36F8.png">
                                            </div>
                                            <div class="col-11 align-self-center"
                                                [ngClass]="{ 'pl-0' : !showmemberDetails}">
                                                <h6 class="mb-0">Bride Tate</h6>
                                                <small class="">October 8, 2020</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-0 mt-3"><span [class.showLess]="showLess">Lorem ipsum dolor
                                                        sit, amet consectetur adipisicing elit. Atque, earum
                                                        repudiandae! Quae velit blanditiis, voluptate laboriosam
                                                        suscipit molestiae consequatur quo facere, ut deleniti quod
                                                        eaque sit veniam eum quidem maiores. </span> <span
                                                        class="text-muted pointer"
                                                        (click)="showLess = !showLess">{{ showLess ? 'Read More' : 'Read Less'}}</span>
                                                </p>
                                                <p class="my-2"><small><i class="fa fa-arrow-circle-up mr-1"
                                                            aria-hidden="true"></i>6 Upvotes</small></p>
                                                <a class="mb-0 text-uppercase" (click)="openDialog()">View all
                                                    comments</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent py-0">
                                    <div class="row">
                                        <div class="align-self-center col-1 pr-0">
                                            <img class="img-fluid rounded-circle avatar"
                                                src="https://cdn.zeplin.io/5f59af391d3811bc16f1d6d8/assets/F1712868-FCF1-4309-9068-AF09252F36F8.png">
                                        </div>
                                        <div class="col-11">
                                            <form class="">
                                                <mat-form-field [floatLabel]="'never'" class="w-100">
                                                    <input type="search" matInput placeholder="Type your message here">
                                                    <img class="mb-2" matSuffix src="assets/icons/telegram.svg">
                                                </mat-form-field>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body p-0 commentsSets">
                                    <div class="px-4 py-3 border-bottom">
                                        <div class="row">
                                            <div class="col-1 p-0">
                                                <img class="img-fluid rounded-circle"
                                                    src="https://cdn.zeplin.io/5f59af391d3811bc16f1d6d8/assets/F1712868-FCF1-4309-9068-AF09252F36F8.png">
                                            </div>
                                            <div class="col-11 align-self-center"
                                                [ngClass]="{ 'pl-0' : !showmemberDetails}">
                                                <h6 class="mb-0">Aditya Agrawal</h6>
                                                <small class="">October 8, 2020</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="commentQuestion mb-0 mt-3">What is the exact use of this
                                                    variable ??</p>
                                                <p class="mb-0"><small>10 comments</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 py-3">
                                        <div class="row">
                                            <div class="col-1 p-0">
                                                <img class="img-fluid rounded-circle"
                                                    src="https://cdn.zeplin.io/5f59af391d3811bc16f1d6d8/assets/F1712868-FCF1-4309-9068-AF09252F36F8.png">
                                            </div>
                                            <div class="col-11 align-self-center"
                                                [ngClass]="{ 'pl-0' : !showmemberDetails}">
                                                <h6 class="mb-0">Bride Tate</h6>
                                                <small class="">October 8, 2020</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-0 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                                    elit. Atque, earum repudiandae! Quae velit blanditiis, voluptate
                                                    laboriosam suscipit molestiae consequatur quo facere, ut deleniti
                                                    quod eaque sit veniam eum quidem maiores.</p>
                                                <p class="my-2"><small><i class="fa fa-arrow-circle-up mr-1"
                                                            aria-hidden="true"></i>6 Upvotes</small></p>
                                                <a class="mb-0 text-uppercase">View all comments</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent py-0">
                                    <div class="row">
                                        <div class="align-self-center col-1 pr-0">
                                            <img class="img-fluid rounded-circle avatar"
                                                src="https://cdn.zeplin.io/5f59af391d3811bc16f1d6d8/assets/F1712868-FCF1-4309-9068-AF09252F36F8.png">
                                        </div>
                                        <div class="col-11">
                                            <form class="">
                                                <mat-form-field [floatLabel]="'never'" class="w-100">
                                                    <input type="search" matInput placeholder="Type your message here">
                                                    <img class="mb-2" matSuffix src="assets/icons/telegram.svg">
                                                </mat-form-field>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent py-0">
                            <form class="">
                                <mat-form-field [floatLabel]="'never'" class="w-100">
                                    <input type="search" matInput placeholder="Post new doubt">
                                    <img class="mb-2" matSuffix src="assets/icons/telegram.svg">
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                </div>
                <div *ngIf="showmemberDetails" class="col-4">
                    <div class="card border-0 shadow-sm memberDetails"
                        [ngClass]="{ 'rounded-left' : showmemberDetails}">
                        <div class="card-header bg-transparent">
                            <div class="row">
                                <div class="col-10 align-self-center">
                                    <p class="mb-0">Search Messages</p>
                                </div>
                                <div class="col-2 text-right">
                                    <span class="material-icons pointer" (click)="showmemberDetails = false">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body overflow-auto p-0">
                            <div class="bg-white pt-2 px-2 sticky-top">
                                <form class="">
                                    <mat-form-field [floatLabel]="'never'" class="w-100">
                                        <input matInput type="search" placeholder="Search Messages" [(ngModel)]="value">
                                        <mat-icon matSuffix>close</mat-icon>
                                        <mat-icon matPrefix>keyboard_backspace</mat-icon>
                                      </mat-form-field>
                                </form>
                            </div>
                            <ul class="list-group searchResults">
                                <li class="list-group-item rounded-0 pt-0 pb-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 pt-0 pb-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 pt-0 pb-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 pt-0 pb-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 pt-0 pb-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                                <li class="list-group-item rounded-0 py-2">
                                    <small>3/7/2020</small>
                                    <p class="mb-0 small">Check Now</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>