th {
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    color: rgba(0,0,0,.87);
}
tr {
    td {
        .fa {
            background-color: #dee2e6;
            padding: 11px;
            border-radius: 50%;
            line-height: 1;
        }
    }
}