<div class="container-fluid pt-3 pl-4 main">
    <h6>Profile</h6>
    <div class="row mt-3">
      <div class="col-3">
        <div  class="outercard bg-white border-bottom">
          <div class="row">
            <div class="col-8  py-2">
              <h6 class="pl-3 pt-2 font-weight-bold">
                Personal Information
              </h6>
            </div>
            <div class="col-4  d-flex justify-content-end align-items-center">
              <img class="pr-2" src="../../../../../../assets/icons/edit.svg" width="24px" />
            </div>
          </div>
        </div>
        <div class="innercard border-bottom pt-4 bg-white">
            <div class="col-12 d-flex justify-content-center">
                <img class="rounded" src="../../../../../../assets/images/dp.jpg" width="37%">
            </div>
            <div class="col-12 text-center pt-3">
              <h5>Nirmallya Mukherjee</h5>
              <p>Professor at IIT</p>
          </div>
        </div>
        <div class="border-bottom pt-2 bg-white ">
          <div class="container d-flex flex-items-row align-items-center">
              <img src="../../../assets/icons/email.svg" width="16px">
              <p class="pl-2 pt-2"><small class="font-weight-bold">Email:</small></p>
             <p class="pl-2 pt-2 "><small class="font-weight-normal">nirmallya.mukherjee@gmail.com</small></p>
             
          </div>
       
          <div class="container d-flex flex-items-row align-items-center">
            <img src="../../../../../../assets/icons/lock.svg" width="16px">
            <p class="pl-2 pt-2"><small class="font-weight-normal">Password: </small></p>
            <p class="pl-2 pt-2"><small class="font-weight-normal">*********</small></p>

          </div>
          <div class="container d-flex flex-items-row align-items-center">
              <img src="../../../../../../assets/icons/phone.svg" width="16px">
              <p class="pl-2 pt-2"><small class="font-weight-bold">Phone Number: </small></p>
             <p class="pl-2 pt-2"><small class="font-weight-normal">9877890897</small></p>
             
          </div>
       
      </div>
        
      
      </div>
      <div class="col-lg-9 col-sm-12 col-md-12">
          <div  class="outercard bg-white border-bottom">
            <div class="row">
              <div class="col-lg-8 col-sm-7 py-2">
                <h6 class="pl-3 pt-2 font-weight-bold">
                  Bio
                </h6>
              </div>
              <div class="col-lg-4 col-sm-5 col-md-5 d-flex justify-content-end align-items-center">
                <app-edit-bio></app-edit-bio>
              </div>
            </div>
          </div>
          <div  class="innercard border-bottom pt-4 bg-white">
              <div class="col-lg-12 d-flex justify-content-center">
                  <p><small>With over two and half decades of cross domain experience in IT and ITES across both services and products, Nirmallya Mukherjee has served as Chief Architect at Dell, Principal Architect at Infosys and Technical Architect at Ciber Inc, an HTC Global Services company.
                      He lends his expertise to various multinationals like Cisco, Walmart Labs, Amadeus, Mercedes Benz, ANZ, Societe Generale etc. through his consulting, development and training engagements.
                      Nirmallya is also the Academic Director for the Graduate Certificate in Cloud Computing program.</small></p>
              </div>
           
          </div>
          <div class="course_groups bg-white border-bottom mt-4">
              <div class="row">
                <div class="col-lg-8 col-sm-7">
                  <h6 class="pl-3 py-3 font-weight-bold">
                    Course and Groups
                  </h6>
                </div>
                
              </div>
        
            </div>
            <div class="course_groups bg-white">
              <div class="container pt-3">
             <div style="border-radius: 10px; background-color: #e4ecf3;" class="card ml-3">
             <div class="row">
               <div class="col-lg-6 col-sm-6 col-md-6 ml-3 py-2">
               <h6><small class="font-weight-bold">Machine Learning</small></h6>
             </div>
             <div class="col-lg-5 d-flex justify-content-end py-2">
              <h6><small class="font-weight-normal">Groups: 6</small></h6>
            </div>
              </div>
              <div class="col-lg-12 bg-white pt-2 pb-2">
                <h6><small class="font-weight-bold">Batch 1</small></h6>
                <small>
                      Machine learning_01 (3 students)	|	Machine learning_04 (6 students)
                </small>
              </div>
              <div class="col-lg-12 bg-white pt-2 pb-2">
                <h6><small class="font-weight-bold">Batch 2</small></h6>
                <small>
                  Machine learning_01 (3 students)	|	Machine learning_04 (6 students)
            </small>
            </div>
             </div>
            </div>
          </div>
       
      </div>
    </div>
  </div>
  