<div class="text-center px-5 pb-5 pt-4" style="width: 645px;">
    <div class="p-2">
        <h3 class="font-weight-bold mt-2">Incorrect Answer</h3>
        <div><i class="display-1 fa fa-times-circle" style="font-size: 8rem;" aria-hidden="true"></i></div>
        <p class="font-weight-bold text-left mb-0">Correct Answer:  1-(1-r)n</p>
        <p class="text-left">Therefore, when a datacenter achieves a reliability of 99 percent, two redundant data
            centers
            have a
            reliability of 99.99 percent (four nines) and three redundant data centers can achieve a
            reliability
            of 99.9999 percent (six nines).</p>
        <button class="btn btn-info mt-3">NEXT QUESTION</button>
    </div>
</div>