<!-- <form [formGroup]="resetPasswordForm">
  <input *ngIf="activeLink === 'reset-password'" formControlName="email" />
  <input *ngIf="activeLink === 'otp'" formControlName="otp" />
  <ng-container *ngIf="activeLink === 'update-password'" >
    <input type="text" formControlName="passcode" name="code" placeholder="OTP"/>
    <input type="password" formControlName="password" name="password" placeholder="password"/>
    <input type="password" formControlName="confirmpassword" name="confirmpassword" placeholder="confirm password" />
  </ng-container>
  <button (click)="submitForm()" >submitpassword</button>
</form> -->
<div class="container">
 <div class="row">
   <div class="col-6 offset-3 my-5 shadow">
     <div class="row" >
       <div class="col-12" >
         
       </div>
       <div class="col-12  border rounded" >
        <form class="p-5"  [formGroup]="resetPasswordForm" >
          <p *ngIf="success" class="text-success">{{success}}</p>
          <p *ngIf="error" class="text text-danger">{{error}}</p>
          <ng-container *ngIf="activeLink === 'update-password'">
            <div class="form-group">
              <label for="username">OTP</label>
              <input type="text" class="form-control rounded-0" formControlName="passcode"
                placeholder="Enter Email OTP">
              <small
                class="form-text text-muted">{{formErrors.checktouchedvaliddirty(resetPasswordForm, 'passcode')}}</small>
            </div>
            <div class="form-group">
              <label for="password">Passowrd</label>
              <input type="password" class="form-control rounded-0" formControlName="password"
                placeholder="Enter Password">
              <small
                class="form-text text-muted">{{formErrors.checktouchedvaliddirty(resetPasswordForm, 'password')}}</small>
            </div>
            <div class="form-group">
              <label for="confirmpassword">Confirm Passowrd</label>
              <input type="password" class="form-control rounded-0" formControlName="confirmpassword"
                placeholder="Enter Confirm Password">
              <small
                class="form-text text-muted">{{formErrors.checktouchedvaliddirty(resetPasswordForm, 'confirmpassword')}}</small>
            </div>
          </ng-container>
          <ng-container *ngIf="activeLink === 'reset-password'" >
            <div class="form-group">
              <label for="confirmpassword">Email Id</label>
              <input type="email" class="form-control rounded-0" formControlName="email"
                placeholder="Enter Email Id">
              <small
                class="form-text text-muted">{{formErrors.checktouchedvaliddirty(resetPasswordForm, 'email')}}</small>
            </div>
          </ng-container>
          <div class="px-5">
            <button type="submit" class="btn btn-block btn-primary rounded-0" (click)="submitForm()">{{activeLink === 'update-password' ? 'Update Password' : 'Send OTP'}}</button>
          </div>
        </form>
       </div>
     </div>
   </div>
 </div>
</div>